*{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
header{
	padding:10px;
	border-bottom:1px solid #CCC;
	text-align:center;
}
header .logo{
	font-size:22px;
	font-weight:bold;
}
main{
	min-height:70vh;
}
footer{
	padding:10px;
	border-top:1px solid #CCC;
	text-align:center;
	font-size:11px;
	color:#999;
}
.books{
	border:1px solid #444;
	margin:20px auto;
}
.books th, .books td{
	border:1px solid #444;
	padding:5px;
}